*{padding:0;margin:0;fontsize:14px}
.main{
	width: 80%;
	margin:50px auto;
	/*background:red;*/	
}
.right h2{
	display: block;
	clear:left;
	padding:20px 0;
}
.main li{
	list-style: none;
	padding: 10px 20px 10px 0;
}
.main:after{
	content:'.';
	visibility: hidden;
	height: 0;
	display: block;
	clear: both;
}  /*若加上此段代码父div（.main)会被撑开,使下边距有效*/
.left{
	height: 720px;
	width: 20%;
	float: left;
	background-color: #3f8ef9;
	padding: 50px 0;
	color: white;
	text-align: center;
}
.right{
	height: 800px;
	width: 75%;
	float: right;
}
.right .row li{
	float: left;
	padding:10px 20px 10px 0;
}
/*遇到的问题
1.父div（.main)若未被子div撑开，则会发生边距重叠，只有上边距有效
2.设置右边div中的li浮动后，要注意对后边h2清除浮动，否则h2会环绕li
3.牢记此种清除浮动的方式。
*/